/*
    = general
 */

/*
    = font
 */

/* @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../font/Poppins-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(../font/Poppins-Bold.woff2) format('woff2');
} */

/* 
    = body
 */

html { overflow-x: hidden; }

body {
    color: var(--base-color);
    /* font-family: 'Poppins', sans-serif; */
    background-color: #333;
    font-size: 16px;
    line-height: 20px;
}

.ui__grid {
    width: 100%;
    max-width: 1260px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/*
    = text
 */

:root {
    --primary-color: #33245E;
    --secondary-color: #4E3F6D;
    --tertiary-color: #FFD500;
    --base-color: whitesmoke;
}


/*
    = placeholders
 */

::placeholder {
    color: var(--primary-color);
    opacity: 1;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

:focus::placeholder {
    opacity: 0;
}


/*
    = recaptcha
 */

.grecaptcha-badge {
    display: none !important;
}


/* ==========================================================================
   = breakpoint full ( 100% )
   ========================================================================== */

/*
    = nav
 */

.nav__item a {
    color: aliceblue;
}

.nav__item a:visited {
    color: lightgray;
}

.nav__item a:hover,
.nav__item a:active {
    color: #EEE;
}

/*
    = pilot
 */

table,
tr,
th,
td,
caption {
    padding: 0.5rem;
    border: 1px solid #EEE;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

/*
    = cabaxi-roxo
 */

.cabaxi-roxo__title-img {
    margin: 0px 10px 0px 0px;
}

.cabaxi-roxo__title-link {
    color: var(--base-color);
    text-decoration: none;
    cursor: pointer;
}

.cabaxi-roxo__title {
    max-width: 350px;
    margin: 0px auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 10px;
}

/*
    = footer
 */

/* ==========================================================================
   = breakpoint md ( 820px - 1080px )
   ========================================================================== */

@media screen and (max-width: 1080px) {}

/* ==========================================================================
   = breakpoint sm ( 567px - 820px )
   ========================================================================== */

@media screen and (max-width: 820px) {}

/* ==========================================================================
   = breakpoint xs ( 0px - 567px )
   ========================================================================== */

@media screen and (max-width: 567px) {}