<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Pereira">
    <meta name="description" content="Tudo relacionado ao canal Cabaxi Roxo!">
    <meta name="keywords" content="cabaxi roxo, twitch">
    <meta name="robots" content="noindex, nofollow" />
    <title>Cabaxi Roxo</title>

    <link rel="icon" href="../img/logo.jpg" type="image/x-icon"> <!-- Favicon -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <main>
        <section id="cabaxi-roxo" class="grid grid__1200">
            <p class="nav__item">
                <a href="index.html">Back to Home</a>
            </p>

            <div class="cabaxi-roxo__title">
                <img class="cabaxi-roxo__title-img" src="../img/logo.jpg" loading="lazy" width="100" height="100"
                    alt="Um quadrado amarelo e a linha de um circulo branco com a sombra roxa de um abacaxi usando óculos com uma guitarra nas costas em seu centro, todos centralizados em um fundo roxo. Abaixo do quadrado amarelo o nome do canal 'Cabaxi Roxo'"
                    title="Logo do canal Cabaxi Roxo">
                <div class="cabaxi-roxo__title-box">
                    <a class="cabaxi-roxo__title-link" href="https://www.twitch.tv/cabaxiroxo" target="_blank">
                        <h2 class="cabaxi-roxo__title-text">@cabaxiroxo</h2>
                    </a>
                    <span class="cabaxi-roxo__title-text">Lives todos os dias <br> 9h30 até 12h e 14h até
                        18h</span>
                </div>
            </div>

            <div>
                <h2>Distintivos</h2>

                <div>
                    <figure>
                        <img src="../img/icones-subs-72x72.png" loading="lazy" width="72" height="72"
                            alt="Um abacaxi roxo usando um óculos verde limão, a coroa do abacaxi tem a mesma cor do óculos."
                            title="Icon to Cabaxi Roxo Chanel">
                        <figcaption>Base</figcaption>
                    </figure>

                    <figure>
                        <img src="../img/grupo-2-72x72.png" loading="lazy" width="72" height="72"
                            alt="Um abacaxi roxo usando um óculos dourado, a coroa do abacaxi tem a mesma cor do óculos."
                            title="Icon to group two the Cabaxi Roxo Chanel">
                        <figcaption>
                            Grupo 2
                        </figcaption>
                    </figure>

                    <figure>
                        <img src="../img/grupo-3-72x72.png" loading="lazy" width="72" height="72"
                            alt="Um abacaxi roxo usando um óculos platinado, a coroa do abacaxi tem a mesma cor do óculos."
                            title="Icon to group three the Cabaxi Roxo Chanel">
                        <figcaption>
                            Grupo 3
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p><small>Copyright © 2023 Lucas Pereira<sup>®</sup></small></p>
        <p class="nav__item">
            <a href="#">Back to top</a>
        </p>
    </footer>
</body>

</html>