<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Pereira">
    <meta name="description" content="Tudo realacionado ao meu progresso como prático de navios.">
    <meta name="keywords" content="estudo, prático de navios">
    <meta name="robots" content="noindex, nofollow" />
    <title>Estudo de programação</title>

    <link rel="icon" href="../img/logo.jpg" type="image/x-icon"> <!-- Favicon -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <main>
        <section id="study" class="grid grid__1200">
            <p class="nav__item">
                <a href="index.html">Back to Home</a>
            </p>

            <h2>Estudos</h2>
            <span>Estudar 1h por dia</span>

            <div>
                <h3>HTML5</h3>
                <figure>
                    <img src="../img/icones-subs-72x72.png" loading="lazy" width="72" height="72"
                        alt="Um abacaxi roxo usando um óculos verde limão, a coroa do abacaxi tem a mesma cor do óculos."
                        title="Icon to Cabaxi Roxo Chanel">
                    <figcaption>An exemple of HTML code</figcaption>
                    <p>
                        <code>&lt;h1&gt;Hello World!&lt;/h1&gt;</code>
                    </p>
                </figure>
            </div>

            <div class="">
                <p>I've been working hard and <strong>really need a getaway</strong>.</p>
                <p>I live in <abbr title="Kansas">KS</abbr>> so I want visit a beach.</p>
                <h3>Place I'd like to visit</h3>
                <ul>
                    <li>
                        <p>I've heard good thins about the Caribbean</p>
                        <figure>
                            <img src="../img/grupo-2-72x72.png" loading="lazy" width="72" height="72"
                                alt="Um abacaxi roxo usando um óculos dourado, a coroa do abacaxi tem a mesma cor do óculos."
                                title="Icon to group two the Cabaxi Roxo Chanel">
                            <figcaption>
                                Ícone do segundo grupo dos seguidos do Cabaxi Roxo.
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <p>I've heard good thins about going here:</p>
                        <address>
                            Margaritaville Island Reserve Riviera Cancún<br>
                            Bahia Petempich Puerto Morelos, Mexico<br>
                            Colonia Morelos, Mexico 775800
                        </address>
                        <figure>
                            <img src="../img/grupo-3-72x72.png" loading="lazy" width="72" height="72"
                                alt="Um abacaxi roxo usando um óculos platinado, a coroa do abacaxi tem a mesma cor do óculos."
                                title="Icon to group three the Cabaxi Roxo Chanel">
                            <figcaption>
                                Ícone do terceiro grupo dos seguidos do Cabaxi Roxo.
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>

            <!-- ToDo: add more places -->
            <div>
                <h3>Place I want to avoid</h3>
                <dl>
                    <dt>North Pole</dt>
                    <dd>I hear this is <strong>cold</strong>!</dd>

                    <dt>South Pole</dt>
                    <dd>This is also cold.</dd>

                    <dt>Mountain Tops</dt>
                    <dd>These are also cold.</dd>
                </dl>
            </div>

            <div>
                <q>Testando...</q>

                <blockquote>
                    <p>
                        &lt;q&gt (quote) and &lt;blockquote'&gt: A quotation. Use &lt;q&gt for shorter quotes and
                        &lt;blockquote&gt for longer
                        quotes.
                    </p>
                </blockquote>
                <p>
                    &mdash; from <cite>Semantic HTML: What It Is and How It Improves Your Site</cite>
                </p>
            </div>

            <div>
                <h3>My daily schedule</h3>
                <p>Let me tell you how:</p>
                <ol type="A">
                    <li>... I learn more about web dev.</li>
                    <li>... I plan out my schedule.</li>
                    <li>... I use resources from
                        <abbr title="Mozilla Developer Network">
                            <a href="https://developer.mozilla.org/pt-BR/">MDN</a>
                        </abbr>.
                    </li>
                </ol>
                <aside>
                    <details>
                        <summary>Guess the <mark>number of hours</mark> I code per day</summary>
                        <p>I start at <time datetime="08:00">8 am</time> and I write code for <time datetime="PT3H">3
                                hours</time> every morning.</p>
                    </details>
                </aside>
            </div>

            <div>
                <h3>Bem-te-vi</h3>

                <audio controls style="display: block;">
                    <!-- One or more source files, each referencing the same audio but in a different file format.
    The browser will choose the first file which it is able to play. -->
                    <source src="../audio/bemtvi.mp3">

                    You will see this text if native audio playback is not supported.
                    <!-- You could use this fall-back feature to insert a JavaScript-based audio player. -->
                </audio>

                <small>Audio by <a href="https://soundcloud.com/beeldengeluid">Beeld en Geluid</a> [<a
                        href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a
                        href="https://commons.wikimedia.org/wiki/File%3AArtis%2C_enkele_flamingo&#039;s_-_SoundCloud_-_Beeld_en_Geluid.ogg">via
                        Wikimedia Commons</a></small>
            </div>

            <div>
                <!--Basic syntax-->
                <video width="640" height="480"
                    src="https://archive.org/download/Popeye_forPresident/Popeye_forPresident_512kb.mp4" controls>
                    Sorry, your browser doesn't support HTML5 <code>video</code>, but you can
                    download this video from the <a href="https://archive.org/details/Popeye_forPresident"
                        target="_blank">Internet Archive</a>.
                </video>
            </div>

            <div>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Your secret" minlength="6"
                        required>
                </p>
                <fieldset>
                    <label for="avatar">Choose a profile picture:</label>
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                </fieldset>
            </div>
        </section>
    </main>

    <footer>
        <p><small>Copyright © 2023 Lucas Pereira<sup>®</sup></small></p>
        <p class="nav__item">
            <a href="#">Back to top</a>
        </p>
    </footer>
</body>

</html>