<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Pereira">
    <meta name="description" content="Home, onde tudo iniciou!">
    <meta name="keywords" content="blog, estudo, prático de navios, cabaxi roxo, twitch">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="theme-color" content="#226DAA" />
    <title>Home</title>

    <link href="../img/logo.jpg" rel="icon" type="image/x-icon"> <!-- Favicon -->
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <!-- <link href="../css/high-contrast.css" rel="alternate stylesheet" type="text/css" title="High contrast"> -->
</head>

<body>
    <header>
        <section class="grid grid__1200">
            <h1>My first web page</h1>

            <nav aria-label="primary-navigation">
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="pilot.html">Prático de navios</a>
                    </li>
                    <li class="nav__item">
                        <a href="cabaxi-roxo.html">Cabaxi Roxo</a>
                    </li>
                    <li class="nav__item">
                        <a href="estudo.html">Estudo</a>
                    </li>
                    <li class="nav__item">
                        <a href="contato.html">Contato</a>
                    </li>
                    <li class="nav__item">
                        <a href="sobre.html">Sobre</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section class="grid grid__1200">
            <h2>This is my first my web page</h2>
        </section>
    </main>

    <aside>
        <section class="grid grid__1200">
            <hr>
            <!-- avisos importantes -->
        </section>
    </aside>
    <footer>
        <section class="grid grid__1200">
            <p><small>Copyright © 2023 Lucas Pereira<sup>®</sup></small></p>
        </section>
    </footer>
</body>

</html>