<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Pereira">
    <meta name="description" content="Tudo realacionado ao meu progresso como prático de navios.">
    <meta name="keywords" content="estudo, prático de navios, cronograma">
    <meta name="robots" content="noindex, nofollow" />
    <title>Estudo</title>

    <link rel="icon" href="../img/logo.jpg" type="image/x-icon"> <!-- Favicon -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <main>
        <section id="pilot" class="ui__grid">
            <p class="nav__item">
                <a href="index.html">Back to Home</a>
            </p>

            <div>
                <h2>Cronograma de estudos</h2>
                <ul>
                    <li>
                        Semana 6 (<time datetime="2023-07-29T09:00">29</time> e <time datetime="2023-07-30T09:00">30 de
                            Julho às 9h</time>)
                    </li>
                </ul>

                <?php 
                    $max = 38;
                    $atual = 14;
                    $total = 100;

                    $percentual = (($atual * $total)/$max)/100

                ?>

                <ol>
                    <li>
                        Bridge Team Management <progress value="$percentual" max="100"></progress>
                    </li>
                    <li>
                        <abbr title="International Maritime Organization">IMO</abbr> A.1106(29) <progress value="00"
                            max="100"></progress>
                    </li>
                    <li>
                        IMO A.817(19) <progress value="00" max="100"></progress>
                    </li>
                    <li>
                        <abbr title="Normas da Autoridade Marítima">NORMAM</abbr> 08 <progress value="00"
                            max="100"></progress>
                    </li>
                    <li>
                        NORMAM 26 <progress value="00" max="100"></progress>
                    </li>
                </ol>
                <table>
                    <caption>Cronograma semanal</caption>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Atividade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="2">Manhã</th>
                            <td>
                                <time datetime="09:30">9h30</time> - <time datetime="11:30">11h30</time>
                            </td>
                            <td>Revisar caderno * <time datetime="PT2H">~2h</time></td>
                        </tr>
                        <tr>
                            <td>
                                <time datetime="11:35">11h35</time> - <time datetime="12:00">12h</time>
                            </td>
                            <td>Fazer resumo * <time datetime="PT0H30M">~30 min</time></td>
                        </tr>
                        <tr>
                            <th scope="row">Almoço</th>
                            <td>
                                <time datetime="11:30">12h00</time> - <time datetime="14:00">14h00</time>
                            </td>
                            <td>Academia e almoço</td>
                        </tr>
                        <tr>
                            <th scope="row" rowspan="3">Tarde</th>
                            <td>
                                <time datetime="14:00">14h00</time> - <time datetime="17:00">17h00</time>
                            </td>
                            <td>Ler publicações ** <time datetime="PT3H">~3h</time></td>
                        </tr>
                        <tr>
                            <td>
                                <time datetime="17:00">17h00</time> - <time datetime="17:30">17h30</time>
                            </td>
                            <td>Ler resumo <time datetime="PT0H30M">~30 min</time></td>
                        </tr>
                        <tr>
                            <td>
                                <time datetime="17:35">17h35</time> - <time datetime="18:00">18h00</time>
                            </td>
                            <td>Ler publicações atrasadas *** <time datetime="PT0H30M">~30 min</time></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <ul>
                                    <li>* Caderno 16
                                    <li>** Semana 6 do curso de exercícios</li>
                                    <li>*** Arte Naval (cap. 01, 02)</li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </main>

    <footer>
        &lt;&lt;&lt; &copy; Lucas Pereira &gt;&gt;&gt;
        <p class="nav__item">
            <a href="#">Back to top</a>
        </p>
    </footer>
</body>

</html>