<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Pereira">
    <meta name="description" content="Oi, eu sou Lucas Pereira essa página fala sobre mim.">
    <meta name="keywords" content="sobre, historia">
    <meta name="robots" content="noindex, nofollow" />
    <title>Sobre</title>

    <link rel="icon" href="../img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>

<body>
    <main>
        <section id="about" class="grid grid__1200">
            <p class="nav__item">
                <a href="index.html">Back to Home</a>
            </p>

            <h2>Hi, I'm Lucas Pereira</h2>

            <hr>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, nemo quibusdam perspiciatis nulla
                beatae
                laboriosam velit nam omnis dolor minima debitis doloribus voluptate vero nisi reprehenderit officia
                perferendis
                vel nobis?
            </p>

            <hr>

            <ul>
                <li>
                    Download my <a href="../img/logo.jpg" download="">logo</a>.
                </li>
                <li>
                    Contact me at <a href="mailto:lucas-cp@outlook.com">my email address</a>.
                </li>
                <li>
                    Dial <a href="tel:+5591988578084">my phone number</a>.
                </li>
                <li>
                    Open <a href="https://www.google.com" target="_blank" nooreplay>Google</a> in a new tab.
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p><small>Copyright © 2023 Lucas Pereira<sup>®</sup></small></p>
        <p class="nav__item">
            <a href="#">Back to top</a>
        </p>
    </footer>
</body>

</html>